* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url('./font/Roboto-Regular.ttf');
    font-family: 'RobotoBold';
    src: url('./font/Roboto-Bold.ttf');
}

body {

    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 700;
}

.bold,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'RobotoBold' !important;
}

.color-main {
    color: #000D54;

}

.color-text {
    color: #0C0154;
    font-weight: 600;
}

.h3,
h3 {
    font-size: 23px !important;
}

/* Hearder */
.bg-hearder {
    background-image: url(./img/0.png);
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    background-size: cover;
    height: 90vh;
}

.price {
    background-color: #FF90D6;
    width: 80%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.bg-white {
    background: white;
    border-radius: 4px;
    color: #1700A1;
    padding: 2px 10px;
    transform: translateY(-5%);
}

/* ================ */
/* Chuyên gia cố vẫn */
.unNone {
    display: none;
}

.fa {
    color: #F2C94C !important;
}

/* Đăng ký */
.register {
    background-image: url(./img/10.png);
    position: relative;
    margin-top: 10% !important;
}

.bg-footer {
    background-image: url(./img/footer.png);
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.register button {
    border: none;
    outline: none;
    transform: translate(0%, -50%);

}

.register span {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.btn-register {
    background: #0A73D4;
    padding: 5px 15px;
    border-radius: 24px !important;
    border: none;
    text-align: center;
    outline: none;
    width: 150px;
}

.row-top {
    transform: translate(0px, 60px);
}

.top-left {
    display: flex;
    transform: translate(45%, 100%);
    z-index: 100;
}

.top-right {
    display: flex;
    transform: translate(0%, 100%);
    z-index: 100;
}

.between-left {
    display: flex;
    transform: translate(35%, 0%);
    z-index: 100;
}

.between-right {
    display: flex;
    transform: translate(-20%, 0%);
}

.below-left {
    display: flex;
    transform: translate(45%, -100%);
}

.below-right {
    display: flex;
    transform: translate(2%, -100%);
}

.text-rights {
    background-image: url(./img/circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    padding: 12px 15px;
    text-align: right;
    width: 200px;
}

.text-lefts {
    background-image: url(./img/circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: left;
    padding: 12px 15px;
    text-align: left;
    width: 200px;
}

.form-group label {
    color: #000D54;
    font-weight: 400;
}

/* ============= */

.carousel-control.left {
    background-image: none !important;
}

.carousel-control.right {
    background-image: none !important;
}

.problem {
    transform: translateY(-100%);
}

@media only screen and (max-width: 768px) {

    .bg-hearder {
        height: auto;
    }

    .problem {
        transform: none;
    }

}

@media only screen and (max-width: 767px) {
    .problem {
        transform: none;
    }


    .unNone {
        display: inline;
    }

    .none {
        display: none;
    }

    .width-100 {
        width: 100% !important;
    }

    .price {
        width: 100%;
    }

    .pull-right {
        text-align: center;
    }

    .top-left,
    .top-right,
    .below-left,
    .below-right {
        display: flex;
        transform: none;

    }

    .between-left {
        transform: none;
    }

    .between-right {
        transform: none;
    }

    .right {
        margin: 10px 10px 0px 30%;
    }

    .left {
        margin: 0 10px 0px 10%;
    }

    .between-left .left {
        margin: 0 10px -50px 10%;
    }

    .between-right .left {
        margin: -50px 0 0 10%;
    }

    .below-right .left {
        margin: 0 10px 50px 10%;
    }

    .responLeft {
        background-image: url(./img/circle.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: left;
        padding: 8px 15px;
        text-align: left;
    }

    .responRight {
        background-image: url(./img/circle.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: right;
        padding: 8px 15px;
        text-align: right;
    }

    .center {
        margin: 0px auto;
    }

    .right {
        margin: 0px 10px 0px 10%;
    }

    .right1 {
        right: -10% !important;
        top: 33% !important;
        /* transform: translate(100%, -100%); */
        position: absolute !important;
    }

    .left1 {
        position: absolute !important;
        top: 34% !important;
        left: -60% !important;
    }

    .right2 {
        right: -10% !important;
        top: 70% !important;
        /* transform: translate(100%, -100%); */
        position: absolute !important;
    }

    .left2 {
        position: absolute !important;
        top: 70% !important;
        left: -60% !important;
    }

}

@media only screen and (max-width: 767px) and (min-width: 460px) {

    .top-left,
    .top-right,
    .below-left,
    .below-right {
        display: flex;
        transform: none;

    }

    .between-left {
        transform: none;
    }

    .between-right {
        transform: none;
    }

    .right {
        margin: 0px 10px 0px 45%;
    }

    .left {
        margin: 0 10px 10px 10%;
    }

    .right1 {
        right: -10% !important;
        top: 40% !important;
        /* transform: translate(100%, -100%); */
        position: absolute !important;
    }

    .left1 {
        position: absolute !important;
        top: 41% !important;
        left: -70% !important;
    }

}



@media only screen and (max-width: 460px) and (min-width:400px) {
    .right {
        margin: 10px 10px 0px 40%;
    }
}

@media only screen and (max-width: 1024px) and (min-width:992px) {
    .bg-hearder {
        height: auto;
    }

    .top-left {
        transform: translate(40%, 100%);
    }

    .problem {
        transform: none;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .top-left {
        transform: translate(35%, 60%);
    }

    .top-right {
        transform: translate(0%, 60%);
    }

    .below-left {
        display: flex;
        transform: translate(30%, -60%);
    }

    .below-right {
        display: flex;
        transform: translate(0%, -60%);
    }

    .between-left {
        display: flex;
        transform: translate(30%, 0%);
        z-index: 100;
    }
}

@media only screen and (max-width: 320px) {
    .right {
        margin-right: 10%;
        position: static;
    }

    .right1 {
        right: -30% !important;
        top: 28% !important;
        /* transform: translate(100%, -100%); */
        position: absolute !important;
    }

    .right2 {
        right: -30% !important;
        top: 75% !important;
        /* transform: translate(100%, -100%); */
        position: absolute !important;
    }

    .left1 {
        position: absolute !important;
        top: 30% !important;
        left: -60% !important;
    }

    .left2 {
        position: absolute !important;
        top: 75% !important;
        left: -60% !important;
    }

}


@media only screen and (max-width: 420px) {
    .right {
        margin: 10px 10px 0px 30%;
    }

    .left {
        margin: 0 10px 0px 10%;
    }

    .between-left .left {
        margin: 0 10px -50px 10%;
    }

    .between-right .left {
        margin: -50px 0 0 10%;
    }

    .below-right .left {
        margin: 0 10px 50px 10%;
    }
}

@media only screen and (max-width: 350px) {
    .right {
        margin: 10px 10px 0px 15%;
    }

}

@media only screen and (max-width: 290px) {
    .right {
        margin: 10px 10px 0px 10%;
    }

}